.u-section-1 .u-sheet-1 {
  min-height: 442px;
}

.u-section-1 .u-group-1 {
  min-height: 345px;
  width: 409px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 52px 8px 0 0;
}

.u-section-1 .u-line-1 {
  width: 115px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 28px auto 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 20px 8px 0 0;
}

.u-section-1 .u-image-1 {
  width: 683px;
  height: 374px;
  object-position: 50.18% 50%;
  margin: -365px 28px 28px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 280px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-1 .u-line-1 {
    width: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 19px;
  }

  .u-section-1 .u-line-1 {
    width: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 7px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 122px;
    margin-right: 14px;
  }

  .u-section-1 .u-line-1 {
    width: 68px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 296px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: auto;
    margin-left: 2px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 186px;
  }
}.u-section-2 {
  min-height: 908px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: 0;
  right: auto;
}

.u-section-2 .u-group-1 {
  width: 533px;
  min-height: 798px;
  margin: 69px auto 0 calc(((100% - 1140px) / 2) + 2px);
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 32px 20px 0;
}

.u-section-2 .u-line-1 {
  width: 154px;
  height: 2px;
  transform-origin: left center 0px;
  margin: 20px auto 0 27px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 90px 20px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -764px calc(((100% - 1140px) / 2) + 40px) 0 calc(((100% - 1140px) / 2) + 619px);
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 41px calc(((100% - 1140px) / 2) + 40px) 60px calc(((100% - 1140px) / 2) + 619px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-2 .u-group-1 {
    width: 419px;
    min-height: 557px;
    margin-bottom: 19px;
    margin-left: calc(((100% - 1140px) / 2) + 102px);
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 36px;
    margin-left: 15px;
  }

  .u-section-2 .u-line-1 {
    width: 127px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 459px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 459px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-2 .u-group-1 {
    width: 307px;
    min-height: 558px;
    margin-top: 42px;
    margin-bottom: 27px;
    margin-left: calc(((100% - 1140px) / 2) + 212px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 14px;
    margin-left: 11px;
  }

  .u-section-2 .u-line-1 {
    width: 97px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 239px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 239px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 420px);
  }

  .u-section-2 .u-group-1 {
    width: 375px;
    min-height: 473px;
    margin-top: 52px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 62px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 91px;
    margin-top: 30px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
    margin-right: 9px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 307px);
  }

  .u-section-2 .u-group-1 {
    width: 283px;
    min-height: 499px;
    margin-top: 66px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-line-1 {
    width: 77px;
    margin-top: 39px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-image-1 {
  width: 1094px;
  height: 625px;
  margin: 15px auto 0;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  margin: 0 379px 29px 402px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 537px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 302px;
    margin-right: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 411px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 192px;
    margin-right: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 308px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 102px;
    margin-right: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 194px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 278px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 27px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 {
  min-height: 616px;
}

.u-section-5 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: 354px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 960px;
  height: 560px;
  margin: -326px auto 28px calc(((100% - 1140px) / 2) + 90px);
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 604px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 548px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 476px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 420px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 371px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 315px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 254px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 198px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-6 .u-sheet-1 {
  min-height: 757px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 619px;
  margin: 49px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: -485px 42px 0 616px;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 144px 619px 37px 49px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 510px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -377px;
    margin-right: 0;
    margin-left: 458px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 468px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 391px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -258px;
    margin-left: 238px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-6 .u-image-1 {
    width: 270px;
    height: 293px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -160px;
    margin-left: 58px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-6 .u-image-1 {
    width: 170px;
    height: 184px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -51px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}.u-section-7 {
  min-height: 551px;
}

.u-section-7 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: 551px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 533px;
  min-height: 459px;
  margin: -482px auto 0 calc(((100% - 1140px) / 2) + 2px);
}

.u-section-7 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 32px 20px 0;
}

.u-section-7 .u-line-1 {
  width: 154px;
  height: 2px;
  transform-origin: left center 0px;
  margin: 26px auto 0 27px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 84px 20px 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: -374px calc(((100% - 1140px) / 2) + 40px) 60px calc(((100% - 1140px) / 2) + 619px);
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-7 .u-group-1 {
    width: 419px;
    min-height: 557px;
    margin-bottom: 19px;
    margin-left: calc(((100% - 1140px) / 2) + 102px);
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-right: 36px;
    margin-left: 15px;
  }

  .u-section-7 .u-line-1 {
    width: 127px;
    margin-left: 22px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 459px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-7 .u-group-1 {
    width: 307px;
    min-height: 558px;
    margin-top: 42px;
    margin-bottom: 27px;
    margin-left: calc(((100% - 1140px) / 2) + 212px);
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 14px;
    margin-left: 11px;
  }

  .u-section-7 .u-line-1 {
    width: 97px;
    margin-left: 17px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 239px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 420px);
  }

  .u-section-7 .u-group-1 {
    width: 375px;
    min-height: 473px;
    margin-top: 52px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-text-1 {
    margin-top: 62px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-line-1 {
    width: 91px;
    margin-top: 30px;
    margin-left: 19px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 30px;
    margin-right: 9px;
    margin-left: 19px;
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 307px);
  }

  .u-section-7 .u-group-1 {
    width: 283px;
    min-height: 499px;
    margin-top: 66px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-text-1 {
    margin-top: 32px;
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-7 .u-line-1 {
    width: 77px;
    margin-top: 39px;
    margin-left: 8px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-8 .u-sheet-1 {
  min-height: 808px;
}

.u-section-8 .u-image-1 {
  height: 807px;
  margin-top: 1px;
  margin-bottom: 1px;
}.u-section-9 {
  min-height: 828px;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px calc(((100% - 1140px) / 2) + 597px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px calc(((100% - 1140px) / 2) + 597px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-9 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 577px);
  height: 808px;
  margin: -808px 0 0 auto;
}

.u-section-9 .u-group-1 {
  width: 577px;
  min-height: 808px;
  margin: -808px calc(((100% - 1140px) / 2)) 20px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  margin: 118px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 420px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 420px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-9 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 577px);
  }

  .u-section-9 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 200px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 200px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-9 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 577px);
  }

  .u-section-9 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 20px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 20px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-9 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-9 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-9 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-9 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-9 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 297px;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  margin: 21px 34px 21px 23px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 794px;
}

.u-section-11 .u-custom-html-1 {
  min-height: 678px;
  width: 995px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-custom-html-1 {
    width: 570px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-12 {
  min-height: 551px;
}

.u-section-12 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: 551px;
  margin: 0 auto 0 0;
}

.u-section-12 .u-group-1 {
  width: 533px;
  min-height: 459px;
  margin: -505px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-12 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 40px 22px 0 18px;
}

.u-section-12 .u-line-1 {
  width: 154px;
  height: 2px;
  transform-origin: left center 0px;
  margin: 20px auto 0 20px;
}

.u-section-12 .u-text-2 {
  font-size: 1.25rem;
  margin: 82px 20px 0;
}

.u-section-12 .u-text-3 {
  font-size: 1.25rem;
  margin: -416px calc(((100% - 1140px) / 2) + 40px) 46px calc(((100% - 1140px) / 2) + 619px);
}

@media (max-width: 1199px) {
  .u-section-12 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-12 .u-group-1 {
    width: 419px;
    min-height: 557px;
    margin-left: calc(((100% - 1140px) / 2) + 102px);
  }

  .u-section-12 .u-text-1 {
    position: relative;
    margin-right: 36px;
    margin-left: 15px;
  }

  .u-section-12 .u-line-1 {
    width: 127px;
    margin-left: 22px;
  }

  .u-section-12 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-12 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 459px);
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-12 .u-group-1 {
    width: 307px;
    min-height: 558px;
    margin-left: calc(((100% - 1140px) / 2) + 212px);
  }

  .u-section-12 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 14px;
    margin-left: 11px;
  }

  .u-section-12 .u-line-1 {
    width: 97px;
    margin-left: 17px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-12 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 239px);
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 420px);
  }

  .u-section-12 .u-group-1 {
    width: 375px;
    min-height: 473px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-12 .u-text-1 {
    margin-top: 62px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-12 .u-line-1 {
    width: 91px;
    margin-top: 30px;
    margin-left: 19px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 30px;
    margin-right: 9px;
    margin-left: 19px;
  }

  .u-section-12 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 307px);
  }

  .u-section-12 .u-group-1 {
    width: 283px;
    min-height: 499px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-12 .u-text-1 {
    margin-top: 32px;
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-12 .u-line-1 {
    width: 77px;
    margin-top: 39px;
    margin-left: 8px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-12 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-13 .u-sheet-1 {
  min-height: 804px;
}

.u-section-13 .u-image-1 {
  width: 1044px;
  height: 693px;
  margin: 48px auto 0;
}

.u-section-13 .u-text-1 {
  font-style: italic;
  width: 435px;
  margin: 12px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-13 .u-image-1 {
    width: 940px;
    height: 624px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-13 .u-image-1 {
    width: 720px;
    height: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-13 .u-text-1 {
    width: 340px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 232px;
}

.u-section-14 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 643px;
}

.u-section-15 .u-image-1 {
  width: 1128px;
  height: 517px;
  margin: 33px auto 0;
}

.u-section-15 .u-text-1 {
  font-style: italic;
  width: 615px;
  margin: 13px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-15 .u-image-1 {
    width: 940px;
    height: 431px;
    margin-top: 373px;
    margin-left: 100px;
  }

  .u-section-15 .u-text-1 {
    margin-left: 263px;
    margin-right: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-15 .u-image-1 {
    width: 720px;
    height: 330px;
    margin-top: 437px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 248px;
    margin-top: 565px;
    margin-left: 300px;
  }

  .u-section-15 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 156px;
    margin-top: 885px;
    margin-left: 400px;
  }

  .u-section-15 .u-text-1 {
    width: 340px;
    margin-bottom: 0;
    margin-left: 400px;
    margin-right: 400px;
  }
}.u-section-16 {
  min-height: 624px;
}

.u-section-16 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  right: 0;
}

.u-section-16 .u-group-1 {
  width: 570px;
  min-height: 624px;
  margin: 0 calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px;
}

.u-section-16 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 14px 0 11px;
}

.u-section-16 .u-text-2 {
  font-size: 1.25rem;
  margin: -552px calc(((100% - 1140px) / 2) + 604px) 60px calc(((100% - 1140px) / 2) + 21px);
}

@media (max-width: 1199px) {
  .u-section-16 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-16 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-16 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 425px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-16 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-16 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 205px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-16 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 25px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-16 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-16 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-16 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-17 .u-sheet-1 {
  min-height: 757px;
}

.u-section-17 .u-custom-html-1 {
  min-height: 624px;
  margin: 22px 111px 60px 69px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-18 {
  background-image: none;
}

.u-section-18 .u-sheet-1 {
  min-height: 316px;
}

.u-section-18 .u-text-1 {
  font-size: 1.25rem;
  margin: 46px 20px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-19 {
  min-height: 909px;
}

.u-section-19 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 422px);
  height: 262px;
  margin: -7px 0 0 auto;
}

.u-section-19 .u-text-1 {
  font-size: 1.25rem;
  margin: -216px calc(((100% - 1140px) / 2) + 596px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-19 .u-text-2 {
  font-size: 1.25rem;
  margin: -473px calc(((100% - 1140px) / 2) + 20px) 0 calc(((100% - 1140px) / 2) + 596px);
}

.u-section-19 .u-text-3 {
  font-size: 1.25rem;
  margin: 25px calc(((100% - 1140px) / 2) + 20px) 0 calc(((100% - 1140px) / 2) + 596px);
}

.u-section-19 .u-image-1 {
  width: 457px;
  height: 303px;
  margin: -845px calc(((100% - 1140px) / 2) + 52px) 0 auto;
}

.u-section-19 .u-text-4 {
  font-style: italic;
  margin: 10px calc(((100% - 1140px) / 2) + 19px) 60px calc(((100% - 1140px) / 2) + 598px);
}

@media (max-width: 1199px) {
  .u-section-19 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 422px);
  }

  .u-section-19 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 416px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-19 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 416px);
  }

  .u-section-19 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 416px);
  }

  .u-section-19 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 52px);
  }

  .u-section-19 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 417px);
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 422px);
  }

  .u-section-19 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 196px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-19 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 196px);
  }

  .u-section-19 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 196px);
  }

  .u-section-19 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 52px);
  }

  .u-section-19 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 197px);
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 422px);
  }

  .u-section-19 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 16px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-19 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 16px);
  }

  .u-section-19 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 16px);
  }

  .u-section-19 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 52px);
  }

  .u-section-19 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 17px);
  }
}

@media (max-width: 575px) {
  .u-section-19 {
    min-height: 831px;
  }

  .u-section-19 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 800px;
  }

  .u-section-19 .u-text-1 {
    margin-top: -1035px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-19 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-19 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-19 .u-image-1 {
    width: 340px;
    height: 225px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-19 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-20 .u-sheet-1 {
  min-height: 99px;
}

.u-section-20 .u-btn-1 {
  align-self: center;
  margin: 30px 52px 0 auto;
}

.u-section-20 .u-btn-2 {
  margin: -39px auto 30px 52px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-20 .u-btn-2 {
    margin-left: 0;
  }
}